.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; /* Ajuster le padding pour ajouter de l'espace autour des éléments */
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir clair */
  position: fixed;
  width: 100%;
  top: 0; /* Assurez-vous que la navbar est en haut */
  z-index: 10;
  transition: top 0.6s ease-in-out; /* Transition plus lente pour l'effet de disparition */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

.hidden {
  top: -100px; /* Masquer la navbar */
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Espace entre les liens */
}

.nav-links a {
  color: white; /* Assurez-vous que les liens sont visibles */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #3498db; /* Couleur au survol */
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: background 0.3s;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px; /* Réduire le padding */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fond noir pour le menu */
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-toggle {
    display: flex;
  }
}
